/commands/VirtualMachine/ip.json
/web/venv/Lib/site-packages/flask/*.py
/web/venv/Lib/site-packages/flask/json/*.py
/web/venv/Lib/site-packages/flask/json/__pycache__/*.pyc
/web/venv/Lib/site-packages/flask/*.typed
/web/venv/Lib/site-packages/itsdangerous-2.1.2.dist-info/*.rst
/web/venv/Lib/site-packages/itsdangerous-2.1.2.dist-info/*.txt
/web/venv/Lib/site-packages/itsdangerous/*.py
/web/venv/Lib/site-packages/itsdangerous/__pycache__/*.pyc
/web/venv/Lib/site-packages/itsdangerous/*.typed
/web/venv/Lib/site-packages/jinja2/*.py
/web/venv/Lib/site-packages/jinja2/__pycache__/*.pyc
/web/venv/Lib/site-packages/jinja2/*.typed
/web/venv/Lib/site-packages/markupsafe/*.py
/web/venv/Lib/site-packages/markupsafe/__pycache__/*.pyc
/web/venv/Lib/site-packages/markupsafe/*.c
/web/venv/Lib/site-packages/markupsafe/*.pyd
/web/venv/Lib/site-packages/markupsafe/*.pyi
/web/venv/Lib/site-packages/markupsafe/*.typed
/web/venv/Lib/site-packages/pip-22.0.4.dist-info/*.txt
/web/venv/Lib/site-packages/pip/*.py
/web/venv/Lib/site-packages/pip/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_internal/*.py
/web/venv/Lib/site-packages/pip/_internal/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_internal/cli/*.py
/web/venv/Lib/site-packages/pip/_internal/cli/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_internal/commands/*.py
/web/venv/Lib/site-packages/pip/_internal/commands/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_internal/distributions/*.py
/web/venv/Lib/site-packages/pip/_internal/distributions/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_internal/index/*.py
/web/venv/Lib/site-packages/pip/_internal/index/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_internal/locations/*.py
/web/venv/Lib/site-packages/pip/_internal/locations/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_internal/metadata/*.py
/web/venv/Lib/site-packages/pip/_internal/metadata/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_internal/models/*.py
/web/venv/Lib/site-packages/pip/_internal/models/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_internal/network/*.py
/web/venv/Lib/site-packages/pip/_internal/network/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_internal/operations/*.py
/web/venv/Lib/site-packages/pip/_internal/operations/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_internal/operations/build/*.py
/web/venv/Lib/site-packages/pip/_internal/operations/build/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_internal/operations/install/*.py
/web/venv/Lib/site-packages/pip/_internal/operations/install/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_internal/req/*.py
/web/venv/Lib/site-packages/pip/_internal/req/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_internal/resolution/*.py
/web/venv/Lib/site-packages/pip/_internal/resolution/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_internal/resolution/legacy/*.py
/web/venv/Lib/site-packages/pip/_internal/resolution/legacy/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_internal/resolution/resolvelib/*.py
/web/venv/Lib/site-packages/pip/_internal/resolution/resolvelib/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_internal/utils/*.py
/web/venv/Lib/site-packages/pip/_internal/utils/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_internal/vcs/*.py
/web/venv/Lib/site-packages/pip/_internal/vcs/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_vendor/*.py
/web/venv/Lib/site-packages/pip/_vendor/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_vendor/cachecontrol/*.py
/web/venv/Lib/site-packages/pip/_vendor/cachecontrol/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_vendor/cachecontrol/caches/*.py
/web/venv/Lib/site-packages/pip/_vendor/cachecontrol/caches/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_vendor/certifi/*.py
/web/venv/Lib/site-packages/pip/_vendor/certifi/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_vendor/certifi/*.pem
/web/venv/Lib/site-packages/pip/_vendor/chardet/*.py
/web/venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_vendor/chardet/cli/*.py
/web/venv/Lib/site-packages/pip/_vendor/chardet/cli/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_vendor/chardet/metadata/*.py
/web/venv/Lib/site-packages/pip/_vendor/chardet/metadata/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_vendor/colorama/*.py
/web/venv/Lib/site-packages/pip/_vendor/colorama/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_vendor/distlib/*.py
/web/venv/Lib/site-packages/pip/_vendor/distlib/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_vendor/distlib/_backport/*.py
/web/venv/Lib/site-packages/pip/_vendor/distlib/_backport/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_vendor/distlib/_backport/*.cfg
/web/venv/Lib/site-packages/pip/_vendor/distlib/*.exe
/web/venv/Lib/site-packages/pip/_vendor/html5lib/*.py
/web/venv/Lib/site-packages/pip/_vendor/html5lib/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_vendor/html5lib/_trie/*.py
/web/venv/Lib/site-packages/pip/_vendor/html5lib/_trie/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_vendor/html5lib/filters/*.py
/web/venv/Lib/site-packages/pip/_vendor/html5lib/filters/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_vendor/html5lib/treeadapters/*.py
/web/venv/Lib/site-packages/pip/_vendor/html5lib/treeadapters/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_vendor/html5lib/treebuilders/*.py
/web/venv/Lib/site-packages/pip/_vendor/html5lib/treebuilders/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_vendor/html5lib/treewalkers/*.py
/web/venv/Lib/site-packages/pip/_vendor/html5lib/treewalkers/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_vendor/idna/*.py
/web/venv/Lib/site-packages/pip/_vendor/idna/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_vendor/msgpack/*.py
/web/venv/Lib/site-packages/pip/_vendor/msgpack/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_vendor/packaging/*.py
/web/venv/Lib/site-packages/pip/_vendor/packaging/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_vendor/pep517/*.py
/web/venv/Lib/site-packages/pip/_vendor/pep517/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_vendor/pep517/in_process/*.py
/web/venv/Lib/site-packages/pip/_vendor/pep517/in_process/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_vendor/pkg_resources/*.py
/web/venv/Lib/site-packages/pip/_vendor/pkg_resources/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_vendor/platformdirs/*.py
/web/venv/Lib/site-packages/pip/_vendor/platformdirs/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_vendor/progress/*.py
/web/venv/Lib/site-packages/pip/_vendor/progress/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_vendor/pygments/*.py
/web/venv/Lib/site-packages/pip/_vendor/pygments/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_vendor/pygments/filters/*.py
/web/venv/Lib/site-packages/pip/_vendor/pygments/filters/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_vendor/pygments/formatters/*.py
/web/venv/Lib/site-packages/pip/_vendor/pygments/formatters/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_vendor/pygments/lexers/*.py
/web/venv/Lib/site-packages/pip/_vendor/pygments/lexers/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_vendor/pygments/styles/*.py
/web/venv/Lib/site-packages/pip/_vendor/pygments/styles/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_vendor/pyparsing/*.py
/web/venv/Lib/site-packages/pip/_vendor/pyparsing/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_vendor/pyparsing/diagram/*.py
/web/venv/Lib/site-packages/pip/_vendor/pyparsing/diagram/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_vendor/requests/*.py
/web/venv/Lib/site-packages/pip/_vendor/requests/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_vendor/resolvelib/*.py
/web/venv/Lib/site-packages/pip/_vendor/resolvelib/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_vendor/resolvelib/compat/*.py
/web/venv/Lib/site-packages/pip/_vendor/resolvelib/compat/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_vendor/rich/*.py
/web/venv/Lib/site-packages/pip/_vendor/rich/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_vendor/tenacity/*.py
/web/venv/Lib/site-packages/pip/_vendor/tenacity/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_vendor/tomli/*.py
/web/venv/Lib/site-packages/pip/_vendor/tomli/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_vendor/urllib3/*.py
/web/venv/Lib/site-packages/pip/_vendor/urllib3/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_vendor/urllib3/contrib/*.py
/web/venv/Lib/site-packages/pip/_vendor/urllib3/contrib/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_vendor/urllib3/contrib/_securetransport/*.py
/web/venv/Lib/site-packages/pip/_vendor/urllib3/contrib/_securetransport/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_vendor/urllib3/packages/*.py
/web/venv/Lib/site-packages/pip/_vendor/urllib3/packages/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_vendor/urllib3/packages/backports/*.py
/web/venv/Lib/site-packages/pip/_vendor/urllib3/packages/backports/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_vendor/urllib3/util/*.py
/web/venv/Lib/site-packages/pip/_vendor/urllib3/util/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/_vendor/*.txt
/web/venv/Lib/site-packages/pip/_vendor/webencodings/*.py
/web/venv/Lib/site-packages/pip/_vendor/webencodings/__pycache__/*.pyc
/web/venv/Lib/site-packages/pip/*.typed
/web/venv/Lib/site-packages/pkg_resources/*.py
/web/venv/Lib/site-packages/pkg_resources/__pycache__/*.pyc
/web/venv/Lib/site-packages/pkg_resources/_vendor/*.py
/web/venv/Lib/site-packages/pkg_resources/_vendor/__pycache__/*.pyc
/web/venv/Lib/site-packages/pkg_resources/_vendor/packaging/*.py
/web/venv/Lib/site-packages/pkg_resources/_vendor/packaging/__pycache__/*.pyc
/web/venv/Lib/site-packages/pkg_resources/extern/*.py
/web/venv/Lib/site-packages/pkg_resources/extern/__pycache__/*.pyc
/web/venv/Lib/site-packages/pkg_resources/tests/data/my-test-package-source/__pycache__/*.pyc
/web/venv/Lib/site-packages/pkg_resources/tests/data/my-test-package-source/*.py
/web/venv/Lib/site-packages/setuptools-58.1.0.dist-info/*.txt
/web/venv/Lib/site-packages/setuptools/*.py
/web/venv/Lib/site-packages/setuptools/__pycache__/*.pyc
/web/venv/Lib/site-packages/setuptools/_distutils/*.py
/web/venv/Lib/site-packages/setuptools/_distutils/__pycache__/*.pyc
/web/venv/Lib/site-packages/setuptools/_distutils/command/*.py
/web/venv/Lib/site-packages/setuptools/_distutils/command/__pycache__/*.pyc
/web/venv/Lib/site-packages/setuptools/_vendor/*.py
/web/venv/Lib/site-packages/setuptools/_vendor/__pycache__/*.pyc
/web/venv/Lib/site-packages/setuptools/_vendor/more_itertools/*.py
/web/venv/Lib/site-packages/setuptools/_vendor/more_itertools/__pycache__/*.pyc
/web/venv/Lib/site-packages/setuptools/_vendor/packaging/*.py
/web/venv/Lib/site-packages/setuptools/_vendor/packaging/__pycache__/*.pyc
/web/venv/Lib/site-packages/setuptools/*.exe
/web/venv/Lib/site-packages/setuptools/command/*.py
/web/venv/Lib/site-packages/setuptools/command/__pycache__/*.pyc
/web/venv/Lib/site-packages/setuptools/command/*.xml
/web/venv/Lib/site-packages/setuptools/extern/*.py
/web/venv/Lib/site-packages/setuptools/extern/__pycache__/*.pyc
/web/venv/Lib/site-packages/setuptools/*.tmpl
/web/venv/Lib/site-packages/werkzeug/*.py
/web/venv/Lib/site-packages/werkzeug/__pycache__/*.pyc
/web/venv/Lib/site-packages/werkzeug/*.pyi
/web/venv/Lib/site-packages/werkzeug/debug/*.py
/web/venv/Lib/site-packages/werkzeug/debug/__pycache__/*.pyc
/web/venv/Lib/site-packages/werkzeug/debug/shared/*.md
/web/venv/Lib/site-packages/werkzeug/debug/shared/*.png
/web/venv/Lib/site-packages/werkzeug/debug/shared/*.js
/web/venv/Lib/site-packages/werkzeug/debug/shared/*.css
/web/venv/Lib/site-packages/werkzeug/middleware/*.py
/web/venv/Lib/site-packages/werkzeug/middleware/__pycache__/*.pyc
/web/venv/Lib/site-packages/werkzeug/*.typed
/web/venv/Lib/site-packages/werkzeug/sansio/*.py
/web/venv/Lib/site-packages/werkzeug/sansio/__pycache__/*.pyc
/web/venv/Lib/site-packages/werkzeug/wrappers/*.py
/web/venv/Lib/site-packages/werkzeug/wrappers/__pycache__/*.pyc
/web/venv/Scripts/*.ps1
/web/venv/Scripts/*.bat
/web/venv/Scripts/*.exe
/web/venv/*.cfg
INSTALLER
LICENSE.rst
METADATA
RECORD
REQUESTED
WHEEL
entry_points.txt
top_level.txt
__init__.py
__init__.cpython-310.pyc
override.cpython-310.pyc
override.py
_compat.cpython-310.pyc
_termui_impl.cpython-310.pyc
_textwrap.cpython-310.pyc
_winconsole.cpython-310.pyc
core.cpython-310.pyc
decorators.cpython-310.pyc
exceptions.cpython-310.pyc
formatting.cpython-310.pyc
globals.cpython-310.pyc
parser.cpython-310.pyc
shell_completion.cpython-310.pyc
termui.cpython-310.pyc
testing.cpython-310.pyc
types.cpython-310.pyc
utils.cpython-310.pyc
_compat.py
_termui_impl.py
_textwrap.py
_winconsole.py
core.py
decorators.py
exceptions.py
formatting.py
globals.py
parser.py
py.typed
shell_completion.py
termui.py
testing.py
types.py
utils.py
LICENSE.txt
ansi.cpython-310.pyc
ansitowin32.cpython-310.pyc
initialise.cpython-310.pyc
win32.cpython-310.pyc
winterm.cpython-310.pyc
ansi.py
ansitowin32.py
initialise.py
win32.py
winterm.py
distutils-precedence.pth
__main__.cpython-310.pyc
app.cpython-310.pyc
blueprints.cpython-310.pyc
cli.cpython-310.pyc
config.cpython-310.pyc
ctx.cpython-310.pyc
debughelpers.cpython-310.pyc
helpers.cpython-310.pyc
logging.cpython-310.pyc
scaffold.cpython-310.pyc
sessions.cpython-310.pyc
signals.cpython-310.pyc
templating.cpython-310.pyc
typing.cpython-310.pyc
views.cpython-310.pyc
wrappers.cpython-310.pyc
LICENSE
activate
